<h1 class="text-center mt-3">Confirmación</h1>

<div class="d-flex justify-content-center mb-4">
    <div class="col col-md-5">
        <h5 class="mb-4 text-center">Está por borrar esta incidencia</h5>
        <%= image_tag @incidence.foto, class:"img-fluid row mb-3"%>
        <p class="row mb-4">Descripción: <%= @incidence.descripcion %></p>
        <h5 class="text-center">¿Desea hacerlo?</h5>
    </div>
</div>
<div class="d-flex justify-content-center">
    <div class="row">
        <div class="col">
            <%= link_to "Cancelar", auto_path(@incidence.auto_id), class: "btn btn-primary-orange" %>
        </div>
        <div class="col">
            <%= button_to "Borrar", incidence_path(@incidence), :method => :delete, class: "btn btn-danger" %>
        </div>
    </div>
</div>