<h1 class="text-center mt-3 mb-3">Subir DNI</h1>

<% if @doc.errors.any? %>
    <% @doc.errors.full_messages.each do |msj| %>
        <div class="alert alert-warning mx-auto mb-0 text-center w-75 pt-2 pb-2" role="alert">
            <%= msj %>
        </div>
    <% end %>
<% end %>

<%= render "form", doc: @doc, status: :see_other %>