<h1 class="text-center mt-2 mb-3">Registrar supervisor</h1>

<% if @sup.errors.any? %>
    <div class="mb-3">
        <% @sup.errors.full_messages.each do |msj| %>
            <div class="alert alert-warning mx-auto mb-0 text-center w-75 pt-2 pb-2" role="alert">
                <%= msj %>
            </div>
        <% end %>
    </div>
<% end %>

<% flash.each do |tipo, msj| %>
    <div class="alert alert-success mx-auto mb-0 text-center w-75 pt-2 pb-2" role="alert">
        <%= msj %>
    </div>
<% end %>


<%= render "form", usuario: @sup, status: :see_other %>